
Haito/bin/Debug/

Haito/obj/Debug/Haito.application

HaitoCotizaciones.v11.suo

Haito/obj/Debug/

.vs/HaitoCotizaciones/v15/Server/sqlite3/storage.ide-wal

.vs/HaitoCotizaciones/v15/Server/sqlite3/storage.ide-shm
